{% load static %}

<!DOCTYPE html>
<html>
<head>
    {% include "_header_00.html" %}
    <title>Survey</title>
</head>
<body>
    {% include "_menu_group.html" %}
    <div class="container mt-4">
        <div class="card text-dark bg-light mb-3 shadow">
            <div class="card-header">
                [{{ currentClassName }}] [{{ student_id }}] Remaining Sections (剩餘部分): {{ remaining_sections_count }}
            </div>

            <div class="card-body">
                <h4 class="card-title text-center">{{ section.name_en }}<br>{{ section.name_zh }}</h4><br>
                
                <form id="survey-form" action="{% url 'submit_survey' section.code_order %}" method="post">
                    {% csrf_token %}

                    {% for question in questions %}
                        <div class="mb-3">
                            <div class="question-text">
                                <p>{{ question.text_en }}<br>{{ question.text_zh }}<br>
                                <span class="slider-value" id="value_question_{{ question.id }}">0</span></p>
                            </div>
                            <div class="slider-range-container">
                                <span class="slider-label">Disagree<br>不同意</span>
                                    <input type="range" class="form-range" id="question_{{ question.id }}" name="question_{{ question.id }}" min="-1" max="1" step="0.01" value="0">
                                <span class="slider-label">Agree<br>同意</span>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="button-center">
                        <button type="submit" class="btn btn-primary">Save 儲存</button>
                        
                    </div>
                    <div class="small text-muted text-center">You can save the survey now and complete it later.<br>您現在可以儲存並稍後完成調查。</div>
                </form>
            </div>
        </div>
    </div>

<script>
    // Function to update the value display based on the slider's position
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('input[type="range"]').forEach(function (slider) {
            slider.addEventListener('input', function () {
                let valueDisplay = document.getElementById('value_' + this.id);
                if (valueDisplay) {
                    valueDisplay.textContent = this.value;
                }
            });
        });
    });

    //Check if ALL sliders were moved
    document.addEventListener('DOMContentLoaded', function() {
        var form = document.getElementById('survey-form');

        form.addEventListener('submit', function(event) {
            var allSlidersMoved = true;
            document.querySelectorAll('input[type="range"]').forEach(function(slider) {
                if (slider.value == '0') {
                    allSlidersMoved = false;
                }
            });

            if (!allSlidersMoved) {
                event.preventDefault(); // Prevent form submission
                alert('Please move all sliders before submitting.\n請在提交前調整所有滑桿。'); // Replace with a more user-friendly message or UI element
            }
        });
    });

$(document).ready(function() {
    //not currently in use
});//document ready


</script>

</body>
</html>


