{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% include "_header_00.html" %}
    <title>Survey Complete</title>
</head>
<body>
    {% include "_menu_group.html" %}
    <div class="container mt-4">
        <div class="card-header">
            <h5 class="card-title">Survey Complete</h5>
        <div>
        <div class="card text-dark bg-light mb-3 shadow">
            <div class="card-body">
                <p><a href="{{ surveyReward }}{{ student_id }}" target="_blank">{% trans "CLAIM SURVEY GIFT" %}</a></p>

                <p><a href="{% url 'position_buyer_seller' %}">{% trans "BACK TO RPG" %}</a></p>
                <!-- {{ surveyReward }}{{ student_id }} -->
            </div>
        </div>
    </div>

<script>
$(document).ready(function() {

});//document ready

</script>

</body>
</html>


