<!DOCTYPE html>
<html>
<head>
    <!-- Include Bootstrap -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    

   <title>Negotiation Dashboard</title>
</head>
<body class="bg-dark text-light">

    <div class="container">
        <div class="mb-3 text-center">
            <h2>Admin Dashboard</h2>
        </div>

        <div class="row row-cols-1 row-cols-md-2 g-1">
            <div class="card text-dark bg-light mb-1">
                <h4 class="card-header">Your Data</h4>
                <div class="card-body">
                    <p>Instructor: {{ currentTeacherClass.teacher }}</p>
                    <p>Class: {{ currentTeacherClass.className }}</p>
                    <p>Notes:<br>
                        <div id="txtTeacherNote" onclick="editNote()">{{ currentTeacherClass.teacherNotes }}</div>
                    </p><div class="text-info" onclick="editNote()">(Click to edit)</div>
                    <!-- Hidden input field for editing -->
                    <textarea id="txtTeacherNoteEdit" style="display: none;"></textarea>
                    <button id="btnSaveNote" style="display: none;" onclick="saveNote()">Save</button>
                </div>
            </div>
            <div class="card text-dark bg-light mb-1">
                <h4 class="card-header">Role Status</h4>
                <div class="card-body">
                    <h4>RPG Round: {{ rpg_closest_round }}</h4>
                    <p>Dice Roll Start: {{ rpg_closest_start_date }}<br>
                        Dice Roll End: {{ rpg_closest_end_date }}
                    </p>
                    <p>
                        RPG {{ rpg_closest_round }} ends on: {{ rpg_play_days_left }}
                    </p>
                    <p>Product: {{ rpg_current_product_name }}<br>
                        Base Price: {{ rpg_current_product_price }}<br>
                        Base Units: {{ rpg_current_product_units }}<br>
                        Currency: {{ rpg_current_product_currency }}<br>
                    </p>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-1 g-1">
            <div class="card text-dark bg-light mb-1">
                <h4 class="card-header">Dice Roll Start/End</h4>
                <div class="card">
                    <div class="card-body">
                        <table class="table fs-6">
                            <thead>
                                <tr>
                                    <th>Game Round</th>
                                    <th>Start</th>
                                    <th>End</th>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Units</th>
                                    <th>Currency</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="https://drive.google.com/open?id=1erZQh-xTOjtuajoRr4pIa030z3d2729d" target="_blank">RPG0</a></td>
                                    <td>{{ currentTeacherClass.round0Start}}</td>
                                    <td>{{ currentTeacherClass.round0End}}</td>
                                    <td>{{ currentTeacherClass.round0ProductName}}</td>
                                    <td>{{ currentTeacherClass.round0ProductPrice}}</td>
                                    <td>{{ currentTeacherClass.round0ProductUnits}}</td>
                                    <td>{{ currentTeacherClass.round0ProductCurrency}}</td>
                                </tr>
                                <tr>
                                    <td><a href="https://drive.google.com/open?id=1aM1oXLHkLi2t1Vj31dEQuOpkVTfOSwHN" target="_blank">RPG1</a></td>
                                    <td>{{ currentTeacherClass.round1Start}}</td>
                                    <td>{{ currentTeacherClass.round1End}}</td>
                                    <td>{{ currentTeacherClass.round1ProductName}}</td>
                                    <td>{{ currentTeacherClass.round1ProductPrice}}</td>
                                    <td>{{ currentTeacherClass.round1ProductUnits}}</td>
                                    <td>{{ currentTeacherClass.round1ProductCurrency}}</td>
                                </tr>
                                <tr>
                                    <td><a href="https://drive.google.com/open?id=1aM1oXLHkLi2t1Vj31dEQuOpkVTfOSwHN" target="_blank">RPG2</a></td>
                                    <td>{{ currentTeacherClass.round2Start}}</td>
                                    <td>{{ currentTeacherClass.round2End}}</td>
                                    <td>{{ currentTeacherClass.round2ProductName}}</td>
                                    <td>{{ currentTeacherClass.round2ProductPrice}}</td>
                                    <td>{{ currentTeacherClass.round2ProductUnits}}</td>
                                    <td>{{ currentTeacherClass.round2ProductCurrency}}</td>
                                </tr>
                                <tr>
                                    <td><a href="https://drive.google.com/open?id=1wdj2VZ2qnsZp5ahswQrr7GX5--xtgFTJ" target="_blank">RPG3</a></td>
                                    <td>{{ currentTeacherClass.round3Start}}</td>
                                    <td>{{ currentTeacherClass.round3End}}</td>
                                    <td>{{ currentTeacherClass.round3ProductName}}</td>
                                    <td>{{ currentTeacherClass.round3ProductPrice}}</td>
                                    <td>{{ currentTeacherClass.round3ProductUnits}}</td>
                                    <td>{{ currentTeacherClass.round3ProductCurrency}}</td>
                                </tr>
                                <tr>
                                    <td><a href="https://drive.google.com/open?id=15YnZ__lkJNBIZpJ6TtJEAJ6CNEODtVKC" target="_blank">RPG4</a></td>
                                    <td>{{ currentTeacherClass.round4Start}}</td>
                                    <td>{{ currentTeacherClass.round4End}}</td>
                                    <td>{{ currentTeacherClass.round4ProductName}}</td>
                                    <td>{{ currentTeacherClass.round4ProductPrice}}</td>
                                    <td>{{ currentTeacherClass.round4ProductUnits}}</td>
                                    <td>{{ currentTeacherClass.round4ProductCurrency}}</td>
                                </tr>
                                <tr>
                                    <td><a href="https://drive.google.com/open?id=1utnjF1_hnfFqPKYIOMoBKeyHfdbpHCGu" target="_blank">RPG5</a></td>
                                    <td>{{ currentTeacherClass.round5Start}}</td>
                                    <td>{{ currentTeacherClass.round5End}}</td>
                                    <td>{{ currentTeacherClass.round5ProductName}}</td>
                                    <td>{{ currentTeacherClass.round5ProductPrice}}</td>
                                    <td>{{ currentTeacherClass.round5ProductUnits}}</td>
                                    <td>{{ currentTeacherClass.round5ProductCurrency}}</td>
                                </tr>
                                <tr>
                                    <td><a href="https://drive.google.com/open?id=1NU3l9HVZEXi5YR2Dmx7hqyqtJi6LBcHu" target="_blank">RPG6</a></td>
                                    <td>{{ currentTeacherClass.round6Start}}</td>
                                    <td>{{ currentTeacherClass.round6End}}</td>
                                    <td>{{ currentTeacherClass.round6ProductName}}</td>
                                    <td>{{ currentTeacherClass.round6ProductPrice}}</td>
                                    <td>{{ currentTeacherClass.round6ProductUnits}}</td>
                                    <td>{{ currentTeacherClass.round6ProductCurrency}}</td>
                                </tr>
                                <tr>
                                    <td><a href="https://drive.google.com/open?id=1sWk_oR9vXUPTjO34Ijk4CZH0MrHiffuf" target="_blank">RPG7</a></td>
                                    <td>{{ currentTeacherClass.round7Start}}</td>
                                    <td>{{ currentTeacherClass.round7End}}</td>
                                    <td>{{ currentTeacherClass.round7ProductName}}</td>
                                    <td>{{ currentTeacherClass.round7ProductPrice}}</td>
                                    <td>{{ currentTeacherClass.round7ProductUnits}}</td>
                                    <td>{{ currentTeacherClass.round7ProductCurrency}}</td>
                                </tr>
                                <tr>
                                    <td><a href="https://drive.google.com/open?id=1qYi-CgHhDHDb5zrscqxtB6jNRqSl1bxW" target="_blank">RPG8</a></td>
                                    <td>{{ currentTeacherClass.round8Start}}</td>
                                    <td>{{ currentTeacherClass.round8End}}</td>
                                    <td>{{ currentTeacherClass.round8ProductName}}</td>
                                    <td>{{ currentTeacherClass.round8ProductPrice}}</td>
                                    <td>{{ currentTeacherClass.round8ProductUnits}}</td>
                                    <td>{{ currentTeacherClass.round8ProductCurrency}}</td>
                                </tr>
                                <tr>
                                    <td><a href="https://drive.google.com/open?id=1Iv_w-HHZyn6-rFt77KT6peO2ZxzZ0rUT" target="_blank">RPG9</a></td>
                                    <td>{{ currentTeacherClass.round9Start}}</td>
                                    <td>{{ currentTeacherClass.round9End}}</td>
                                    <td>{{ currentTeacherClass.round9ProductName}}</td>
                                    <td>{{ currentTeacherClass.round9ProductPrice}}</td>
                                    <td>{{ currentTeacherClass.round9ProductUnits}}</td>
                                    <td>{{ currentTeacherClass.round9ProductCurrency}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-2 g-1">

            <div class="card text-dark bg-light mb-1">
                <h4 class="card-header">Game Defaults</h4>
                <div class="card-body">
                    <h4>Instructor: {{ currentTeacherClass.teacher }}</h4>
                    <p>Class Name: {{ currentTeacherClass.className }}<br>
                    Number of Groups: {{ currentTeacherClass.numberOfGroups }}<br>
                    Number of Members: {{ currentTeacherClass.numberOfMembers }}<br>
                    Dice high: {{ currentTeacherClass.diceHigh }}<br>
                    Dice low: {{ currentTeacherClass.diceLow }}<br>
                    Play days: {{ currentTeacherClass.playDays }}
                    </p>
                </div>
            </div>
        </div>
    </div>

</body>

<script>
        // Getting CSRF token for AJAX
        var csrftoken = "{{ csrf_token }}";

function editNote(){
    var displayDiv = document.getElementById('txtTeacherNote');
    var editArea = document.getElementById('txtTeacherNoteEdit');
    var saveButton = document.getElementById('btnSaveNote');

    // Set the text of the textarea to match the div's content
    editArea.value = displayDiv.innerText;

    // Hide the div and show the textarea + save button
    displayDiv.style.display = 'none';
    editArea.style.display = 'block';
    saveButton.style.display = 'block';
} //end editNote

function saveNote(){
    var displayDiv = document.getElementById('txtTeacherNote');
    var editArea = document.getElementById('txtTeacherNoteEdit');
    var saveButton = document.getElementById('btnSaveNote');

    // Update the div's content with the textarea's value
    displayDiv.innerText = editArea.value;

    // Hide the textarea + save button and show the div
    editArea.style.display = 'none';
    saveButton.style.display = 'none';
    displayDiv.style.display = 'block';

    // Sending data to Django using AJAX
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/save_note/', true);
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.setRequestHeader('X-CSRFToken', csrftoken);  // Set this header before sending
    xhr.send('note=' + encodeURIComponent(editArea.value) + '&record_id={{ currentTeacherClass.pk }}&field_name=teacherNotes');
    xhr.onload = function() {
        if (xhr.status === 200) {
            alert('Note saved!');
        } else {
            alert('Error saving note.');
        }
    };


} //end saveNote







// Make sure the page is fully loaded before we attach our event handlers
$(document).ready(function(){
    // This code will be executed after the entire page has loaded
    //$("#btn").click(function(){
    //    $("#demo").hide();
    //});

    }); //end ready
</script>

</html>
