{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Include Bootstrap -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
        @keyframes pulse {
            0% {
            opacity: 1;
            }
            50% {
            opacity: 0.5;
            }
            100% {
            opacity: 1;
            }
        }
        .pulse-effect {
            animation: pulse 1s infinite;
        }
        .hidden-form {
            display: none;
        }
       
        /* Card Styling */
        .custom-card {
            background-color: #f5f5f5;  /* Light gray background */
            border: 1px solid #1561ad;  /* Dark blue-gray for the border */
        }

        .custom-card-header {
            background-color: #1561ad;  /* Dark blue-gray background of header*/
            color: #ffffff;  /* White text */
        }

        .custom-card-warn-header {
            background-color: #fc5226;  /* read-orange background of header*/
            color: #ffffff;  /* White text */
        }

        /* Table Styling */
        .custom-table {
            background-color: #ffffff;  /* White background for contrast */
        }

        .custom-thead {
            background-color: #1c77ac;  /* Even darker blue-gray for the table header */
            color: #ffffff;  /* White text */
        }

        .deal-row:hover {
            cursor: pointer;
        }

        .deal-link {
            color: blue;
            text-decoration: underline;
            cursor: pointer;
        }


    </style>      
    <title>Dashboard</title>
</head>

<body>    
    <div class="container">
        <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2 g-3">
            <div class="card text-dark bg-light mb-1">
                <div class="mb-3">
                    <h1><i>RPG DASHBOARD</i></h1><h2><span class="txtRole" id="txtRole0"></span><br>RPG Round: {{ rpg_closest_round }}<br>Product: {{ rpg_current_product_name }}</h2><h4>Group: {{ groupDigit }}<br>Class: {{ currentClassName }}<br>Teacher: {{ currentTeacher }}</h4>
                    <p>RPG {{ rpg_closest_round }} Deals End: {{ rpg_play_days_left }}</p>
                </div>
            </div> <!-- End Card -->
            <a href="{% url 'home' %}"><div class="card text-light mb-1 text-center"  
                style="background-image: url({% static 'images/logoClass01_blur.png' %}); 
                    background-size: cover; 
                    background-position: center; 
                    backdrop-filter: blur(100px);">
                <div class="mb-3">
                    <img id="imgRandomImage" alt="A random anime image" style="width: 200px; height: 200px; object-fit: cover;">
                </div>
            </div></a> <!-- End Card -->

            <div class="card custom-card mb-1">
                <h4 class="card-header custom-card-header">Negotiation Position <i>Quick View</i></h4>
                <div class="card-body">
                    <div class="row fw-bold">
                        <div class="col-4">RESISTANCE:</div>
                        <div class="col-8"><span id="txtPositionResistance">{{ rpg_resistance }}</span><span id="txtPositionResistanceHelp" class="small text-muted"></span></div>
                        <div class="col-4">FLEX:</div>
                        <div class="col-8"><span id="txtPositionFlex">{{ groupFlex }}</span><span id="txtPositionFlexHelp" class="small text-muted"></span></div>
                        <div class="col-4"><span id="txtMaxPurchase">MAX Purchase:</span></div>
                        <div class="col-8"><span id="txtPositionMaxPurchase">{{ rpg_max_purchase }}</span><span id="txtPositionMaxPurchaseHelp" class="small text-muted"></span></div>
                        <div class="col-4">DELIVERY:</div>
                        <div class="col-8"><span id="txtPositionDelivery">{{ groupDelivery }}</span><span id="txtPositionDeliveryHelp" class="small text-muted"></span></div>
                        <div class="col-4">UNITS:</div>
                        <div class="col-8"><span id="txtPositionUnits">{{ rpg_mod_units }}</span><span id="txtPositionUnitsHelp" class="small text-muted"></span></div>
                        <div class="col-4">IMPORTANCE:</div>
                        <div class="col-8"><span id="txtPositionImportance">{{ groupImportance }}</span><span id="txtPositionImportanceHelp" class="small text-muted"></span></div>
                        <div class="col-4">QUALITY:</div>
                        <div class="col-8"><span id="txtPositionQuality">{{ groupQuality }}</span><span id="txtPositionQualityHelp" class="small text-muted"></span></div>
                        <div class="col-4">ROLE:</div>
                        <div class="col-8">[{{ groupRole }}] <span class="txtRole" id="txtRole1">{{ groupRole }}</span></div>
                    </div>

                    <p>Notes:<br>
                        <div id="txtGroupNote" onclick="editNote()"></div>
                    </p>
                    <div class="text-info" onclick="editNote()">(Click to edit note)</div>
                    <!-- Hidden input field for editing -->
                    <textarea id="txtTeacherNoteEdit" style="display: none;"></textarea>
                    <button id="btnSaveNote" style="display: none;" onclick="saveNote()">Save</button>
                </div>
            </div> <!-- End Card -->
        

            <div class="card custom-card mb-1">
                <h4 class="card-header custom-card-header">Actions</h4>
                <div class="card-body">
                    <div class="container mt-1">
                        <div id="icoSpinner" class="spinner-border text-secondary" role="status" style="display:none;">
                            <span class="visually-hidden">ROLLING</span>
                        </div>
                        <!-- Buttons to send deal or points or cancel -->
                        <button class="btn btn-primary col-sm-5 text-center mt-3" id="btnSendDeal">Send A Deal</button>
                        <button class="btn btn-primary col-sm-5 text-center mt-3" id="btnCancelDeal"> Cancel A Deal</button>
                        <button class="btn btn-primary col-sm-5 text-center mt-3" id="btnSendFlex">Gift Flex Points</button>
                        <button class="btn btn-primary col-sm-5 text-center mt-3" id="btnSendMessage">Message A Group</button>

                        <!-- Adding form for sending DEAL -->
                        <div id="btnOpenDealForm" class="hidden-form mt-3 row align-items-center">
                            <div class="col-12 text-center mb-4">
                                <h1 class="display-7" id="txtOrderTitle">PURCHASE/SALE ORDER</h1>
                            </div>
                            <form id="frmDealForm" method="post" action="{% url 'save_deal' %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-4">Counterpart:</div>
                                    <div class="col-8"><input id="inputCounterparty" type="number" name="counterparty" class="form-control" style="width: 150px;"></div>

                                    <div class="col-4 mt-2">Units:</div>
                                    <div class="col-8 mt-2"><input id="inputUnits" type="number" name="units" class="form-control" style="width: 150px;"></div>

                                    <div class="col-4 mt-2">Price:</div>
                                    <div class="col-8 mt-2"><input id="inputPrice" type="number" name="price" step="0.01" class="form-control" style="width: 150px;"></div>

                                    <div class="col-4 mt-2">Quality:</div>
                                    <div class="col-8 mt-2">
                                        <select id="sltQuality" name="quality" class="form-select"  style="width: 150px;>
                                            {% for value, display_name in formDeal.fields.quality.choices %}
                                                <option value="{{ value }}">{{ display_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-4 mt-2">Delivery:</div>
                                    <div class="col-8 mt-2">
                                        <select id="sltDelivery" name="delivery" class="form-select"  style="width: 150px;>
                                            {% for value, display_name in formDeal.fields.delivery.choices %}
                                                <option value="{{ value }}">{{ display_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-4">
                                        <button id="btnSubmitDeal" type="submit" class="btn btn-success mt-3">Send Deal</button>
                                    </div>
                                    <div class="col-8 mt-3">
                                        Deal ID:<input type="number" id="inputDealID" name="dealID" class="form-control" style="width: 175px;"><span id="txtDealID" class="small text-muted">Buyer and seller must use SAME Deal ID.</span>
                                        <br><span id="newDealID"></span><a href="#" id="txtUseThisID" class="small text-muted"><=Use this NEW Deal ID.</a>
                                    </div>
                                </div>
                            </form>
                        </div> <!-- End dealForm-->

                        <!-- Adding form for CANCEL DEAL -->
                        <div id="btnOpenCancelForm" class="hidden-form mt-3 row align-items-center">
                            <div class="col-12 text-center mb-4">
                                <h1 class="display-7">CANCEL PURCHASE ORDER</h1>
                            </div>
                            <form id="frmCancelForm" method="post" action="{% url 'cancel_deal' %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-4">Counterpart:</div>
                                    <div class="col-8"><input type="number" name="counterpartyCancel" class="form-control" style="width: 75px;"></div>
                                    <div class="col-4">Deal ID:</div>
                                    <div class="col-8"><input type="number" id="dealIDCancel" name="dealIDCancel" class="form-control" style="width: 175px;"></div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-4">
                                        <button id="btnSubmitCancel" type="submit" class="btn btn-success mt-3">Cancel Deal</button>
                                    </div>
                                </div>
                            </form>
                        </div> <!-- End Cancel Form-->



                        <!-- Adding form for Gifting Flex Points -->
                        <div id="btnOpenSendFlexForm" class="hidden-form mt-3 row align-items-center">
                            <div class="col-12 text-center mb-4">
                                <h1 class="display-7">SEND FLEX POINTS</h1>
                            </div>
                            <form id="frmSendFlexForm" method="post" action="{% url 'gift_flex' %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-4">Send To:</div>
                                    <div class="col-8"><input type="number" name="giftReceiver" class="form-control" style="width: 75px;"></div>
                                    <div class="col-4">Flex Points:</div>
                                    <div class="col-8"><input type="number" id="txtGiftAmount" name="giftAmount" class="form-control" style="width: 75px;"></div>
                                    <div class="col-4">Message:</div>
                                    <div class="col-8"><textarea id="txtMessageArea" name="giftMessage" rows="4" cols="50" class="form-control"></textarea></div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-4">
                                        <button id="btnSubmitGiftFlex" type="submit" class="btn btn-success mt-3">Send Flex Points</button>
                                    </div>
                                </div>
                            </form>
                        </div> <!-- End send flex points form -->

                        <!-- Adding form for Messaging other groups -->
                        <div id="btnOpenSendMessageForm" class="hidden-form mt-3 row align-items-center">
                            <div class="col-12 text-center mb-4">
                                <h1 class="display-7">SEND MESSAGE</h1>
                            </div>
                            <form id="frmSendMessageForm" method="post" action="{% url 'send_message' %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-4">Send To:</div>
                                    <div class="col-8"><input type="number" name="messageReceiver" class="form-control" style="width: 150px;"></div>
                                    <div class="col-4">Message Subject:</div>
                                    <div class="col-8"><input type="text" id="txtMessageSubject" name="messageSubject" class="form-control" style="width: 350px;"></div>
                                    <div class="col-4">Message:</div>
                                    <div class="col-8"><textarea name="messageContent" rows="4" cols="50" class="form-control"></textarea></div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-4">
                                        <button id="btnSubmitSendMessage" type="submit" class="btn btn-success mt-3">Send Message</button>
                                    </div>
                                </div>
                            </form>
                        </div> <!-- End send message Form-->

                    </div> <!-- End of container -->
                </div> <!-- End of card body -->
    
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

            </div> <!-- End of card -->

            <div class="card custom-card mb-1">
                <h4 class="card-header custom-card-header">Deals Completed<sup>a</sup></h4>
                <div class="card-body">
                    <table class="table table-hover table-striped table-responsive">
                        <thead class="custom-thead">
                            <tr>
                                <th scope="col" title="Deal Identifier">Deal ID</th>
                                <th scope="col" title="Counterpart Group">With</th>
                                <th scope="col" title="Number of Units">Units</th>
                                <th scope="col" title="Deal Price">Price</th>
                                <th scope="col" title="Quality Level">Qual.</th>
                                <th scope="col" title="Delivery Speed">Deliv.</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for deal in final_deals %}
                            <tr>
                                <td>{{ deal.dealDealID }}</td>
                                <td>Group {{ deal.dealCounterpart }}</td>
                                <td>{{ deal.dealUnits }}</td>
                                <td>{{ deal.dealPrice }}</td>
                                <td>{{ deal.dealQuality }}</td>
                                <td>{{ deal.dealDelivery }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> <!-- End card body-->
                <div class="small text-muted"><sup>a</sup>Deals waiting for counterparties are not shown here.</div>
            </div> <!-- End card -->

            <div class="card custom-card mb-1">
                <h4 class="card-header custom-card-header">Canceled Deals</h4>
                <div class="card-body">
                    <h4 class="card-header">Deals Canceled With Penalty</h4>
                    <table class="table table-hover table-striped table-responsive">
                        <thead class="custom-thead">
                            <tr>
                                <th scope="col" title="Deal Identifier">Deal ID</th>
                                <th scope="col" title="Canceling Group">Canceled By</th>
                                <th scope="col" title="Canceler's Role">Role</th>
                                <th scope="col" title="Units">Units</th>
                                <th scope="col" title="Penalty"><sup>a</sup>Penalty</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for deal in penalized_deals %}
                            <tr>
                                <td>{{ deal.dealDealID }}</td>
                                <td>Group {{ deal.groupDigit }}</td>
                                <td>{{ deal.dealBuySell }}</td>
                                <td>{{ deal.dealUnits }}</td>
                                <td><i class="fas fa-minus"></i> {{ deal.penalty_amount }} Flex Points</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <h4 class="card-header">Deals Canceled By Both</h4>
                <div class="container">
                    <table class="table table-hover table-striped table-responsive">
                        <thead class="custom-thead">
                            <tr>
                                <th scope="col" title="Deal Identifier">Deal ID</th>
                                <th scope="col" title="Canceling Group">Canceled By</th>
                                <th scope="col" title="Cancelers Role"><sup>a</sup>Role</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for deal in mutually_canceled_deals %}
                            <tr>
                                <td>{{ deal.dealDealID }}</td>
                                <td>Group {{ deal.groupDigit }}</td>
                                <td>{{ deal.dealBuySell }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> <!-- End card body-->
                <div class="small text-muted"><sup>a</sup>Canceling deals costs:</div>
                <div class="small text-muted">A) Both parties cancel = NO cost to you & NO cost to counterparty.</div>
                <div class="small text-muted">B) You cancel but counterparty does NOT cancel = 0.5 Flex Points per 100 units of the deal.</div>
                <div class="small text-muted">C) You do NOT cancel but counterparty cancels = NO extra cost to you (deal is lost).</div>
                <div class="small text-muted"><sup>a</sup>Role 1 = Buyer; -1 = Seller.</div>
            </div> <!-- End card -->
            
            <div class="card custom mb-1">
                <h4 class="card-header custom-card-header">Flex Points: {{ rpgFlexPoints }}</h4>
                <div class="card-body">
                    <table class="table table-hover table-striped table-responsive">
                        <thead class="custom-thead">
                            <tr>
                                <th scope="col" title="Deal Identifier">Deal ID</th>
                                <th scope="col" title="Number of Units">Units</th>
                                <th scope="col" title="Quality Level"><sup>a</sup>Qual. Gap</th>
                                <th scope="col" title="Delivery Gap"><sup>a</sup>Deliv. Gap</th>
                                <th scope="col" title="Loss/Gain">Loss/Gain</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for deal in final_deals %}
                            <tr>
                                <td>{{ deal.dealDealID }}</td>
                                <td>{{ deal.dealUnits }}</td>
                                <td>{{ deal.deal_quality_gap }}</td>
                                <td>{{ deal.deal_delivery_gap }}</td>
                                <td>{{ deal.deal_flex_points }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                            <th colspan="1"><sup>b</sup>Bonus:</th>
                            <td colspan="1"><i class="fas fa-plus"></i>{{ bonus_flex_points }}</td>
                            </tr>
                            <tr id="txtOverProduction">
                                <th colspan="1"><sup>c</sup>Over Production:</th>
                                <td colspan="1"><i class="fas fa-minus"></i>{{ overproduction_flex_fee }}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div> <!-- End card body-->
                <div id="txtFlexMsg0" class="small text-muted"><sup>a</sup>Going higher gains Flex Points (1 point per 100 units--round up).</div>
                <div id="txtFlexMsg1" class="small text-muted">Going lower spends Flex Points (1 point per 100 units--round up).</div>
                <div  id="txtFlexMsg2" class="small text-muted">Canceling a deal will have a cost if both sides do NOT agree (see Canceled Deals area).</div>
                <br><div id="txtFlexMsg3" class="small text-muted"><sup>b</sup>Earn extra Flex Points by making more deals with different groups (at least 10% of target units with different groups).</div>
                <br><div id="txtFlexMsg4" class="small text-muted"><sup>c</sup>Production over MAX costs 1 Flex Point for every 10% increase over UNITS.</div>
            </div> <!-- End card -->

            <div class="card text-dark bg-light mb-1">
                <h4 class="card-header custom-card-header">Weighted Avg. Price</h4>
                <div class="card-body">
                    <table class="table table-bordered table-striped table-responsive">
                        <thead class="custom-thead">
                            <tr>
                            <th scope="col">Deal ID</th>
                            <th scope="col">Counterpart</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity (Units)</th>
                            <th scope="col">Weighted Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for deal in final_deals %}
                            <tr>
                            <td>{{ deal.dealDealID }}</td>
                            <td>Group {{ deal.dealCounterpart }}</td>
                            <td>{{ deal.dealPrice }}</td>
                            <td>{{ deal.dealUnits }}</td>
                            <td>{{ deal.weighted_price }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                            <th colspan="3">Total Units:</th>
                            <td colspan="1">{{ total_units }}</td>
                            </tr>
                            <tr>
                            <th colspan="3">Average Weighted Price:</th>
                            <td></td>
                            <td colspan="2">{{ average_weighted }}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div> <!-- End card body-->
            </div> <!-- End card -->

            <div class="card text-dark bg-light mb-1" id="crdInventory">
                <h4 class="card-header custom-card-header">Inventory Bought</h4>
                <div class="card-body">
                    <table class="table table-striped table-responsive">
                        <thead class="custom-thead">
                            <tr>
                            <th>Total Bought</th>
                            <th>Target Purchase</th>
                            <th>Fraction to Target</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>{{ total_units }}</td>
                            <td>{{ rpg_mod_units }}</td>
                            <td>{{ rpg_fraction_close_to_max }}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                            <th colspan="1">Do Not Go Over:</th>
                            <td colspan="1">{{ rpg_max_purchase }}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div> <!-- End card body-->
                <div class="small text-muted">Inventory bought over your MAX Purchase ({{ rpg_max_purchase }}) will cause bankruptcy.</div>
            </div> <!-- End card -->

            <div class="card text-dark bg-light mb-1">
                <h4 class="card-header custom-card-header">Flex Point Send/Receive</h4>
                <div class="card-body">
                    <table class="table table-hover table-striped table-responsive">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col" title="From">From Group</th>
                                <th scope="col" title="To">To Group</th>
                                <th scope="col" title="Flex Points">Flex Points</th>
                                <th scope="col" title="Message">Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for deal in all_gifts %}
                            <tr>
                                <td>{{ deal.groupDigit }}</td>
                                <td>{{ deal.giftReceiver }}</td>
                                <td>{{ deal.giftAmount }}</td>
                                <td>{{ deal.giftMessage }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> <!-- End card body-->
                <div class="small text-muted">Note: Only messages for the current RPG round are shown.</div>                    
            </div> <!-- End card -->

            <div class="card text-dark bg-light mb-1">
                <h4 class="card-header">Deals Waiting For Counterpart</h4>
                <div class="card-body">
                    <table class="table table-hover table-striped table-responsive">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col" title="Deal Identifier">Deal ID</th>
                                <th scope="col" title="Counterpart Group">To<br>Group</th>
                                <th scope="col" title="Number of Units">Units</th>
                                <th scope="col" title="Deal Price">Price</th>
                                <th scope="col" title="Quality Level">Qual.</th>
                                <th scope="col" title="Delivery Speed">Deliv.</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for deal in waiting_for_counterpart %}
                            <tr>
                                <td>{{ deal.dealDealID }}</td>
                                <td>{{ deal.dealCounterpart }}</td>
                                <td>{{ deal.dealUnits }}</td>
                                <td>{{ deal.dealPrice }}</td>
                                <td>{{ deal.dealQuality }}</td>
                                <td>{{ deal.dealDelivery }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> <!-- End card body-->
            </div> <!-- End card -->

            <div class="card text-dark bg-light mb-1">
                <h4 class="card-header">Deals Waiting For You</h4>
                <div class="card-body">
                    <table class="table table-hover table-striped table-responsive deal-row:hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col" title="Deal Identifier">Deal ID</th>
                                <th scope="col" title="Counterpart Group">From<br>Group</th>
                                <th scope="col" title="Number of Units">Units</th>
                                <th scope="col" title="Deal Price">Price</th>
                                <th scope="col" title="Quality Level">Qual.</th>
                                <th scope="col" title="Delivery Speed">Deliv.</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for deal in waiting_for_you %}
                            <tr class="deal-row" data-dealid="{{ deal.dealDealID }}" data-counterparty="{{ deal.groupDigit }}" data-units="{{ deal.dealUnits }}" data-price="{{ deal.dealPrice }}" data-quality="{{ deal.dealQuality }}" data-delivery="{{ deal.dealDelivery }}">
                                <td><a href="#" class="deal-link" data-dealid="{{ deal.dealDealID }}" data-counterparty="{{ deal.groupDigit }}" data-units="{{ deal.dealUnits }}" data-price="{{ deal.dealPrice }}" data-quality="{{ deal.dealQuality }}" data-delivery="{{ deal.dealDelivery }}">{{ deal.dealDealID }}</a></td>
                                <td>{{ deal.groupDigit }}</td>
                                <td>{{ deal.dealUnits }}</td>
                                <td>{{ deal.dealPrice }}</td>
                                <td>{{ deal.dealQuality }}</td>
                                <td>{{ deal.dealDelivery }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div><!-- End card body-->
            </div> <!-- End card -->

            <div class="card text-dark bg-light mb-1">
                <h4 class="custom-card-warn-header">Deals Mismatched<sup>a</sup></h4>
                <div class="card-body">
                    <table class="table table-hover table-striped table-responsive">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col" title="Deal Identifier">Deal ID</th>
                                <th scope="col" title="From">To<br>Group</th>
                                <th scope="col" title="To">From<br>Group</th>
                                <th scope="col" title="Role">Role</th>
                                <th scope="col" title="Number of Units">Units</th>
                                <th scope="col" title="Deal Price">Price</th>
                                <th scope="col" title="Quality Level">Qual.</th>
                                <th scope="col" title="Delivery Speed">Deliv.</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for deal in error_deals %}
                            <tr>
                                <td>{{ deal.dealDealID }}</td>
                                <td>{{ deal.dealCounterpart }}</td>
                                <td>{{ deal.groupDigit }}</td>
                                <td>{{ deal.dealBuySell }}</td>
                                <td>{{ deal.dealUnits }}</td>
                                <td>{{ deal.dealPrice }}</td>
                                <td>{{ deal.dealQuality }}</td>
                                <td>{{ deal.dealDelivery }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> <!-- End card body-->
                <div class="small text-muted"><sup>a</sup>These deals use the same Deal ID but do not match.</div>
                <div class="small text-muted">Senders need to cancel these.</div>
                <div class="small text-muted">Note: Role 1 = Buyer; -1 = Seller.</div>
            </div> <!-- End card -->

            <div class="card text-dark bg-light mb-1">
                <h4 class="card-header custom-card-header">RPG Score: {{ rpg_scoreFinal }}</h4>
                <div class="card-body">
                    <table class="table">
                        <thead class="text-secondary">
                            <tr>
                            <th scope="col" class="fs-6 py-0 px-0 text-center">Resistance<br>Price</th>
                            <th scope="col" class="fs-6 py-0 px-0 text-center"><i class="fas fa-minus"></i></th>
                            <th scope="col" class="fs-6 py-0 px-0 text-center">Weighted<br>Avg. Price</th>
                            <th scope="col" class="fs-6 py-0 px-0 text-center"><i class="fas fa-equals"></i></th>
                            <th scope="col" class="fs-6 py-0 px-0 text-center">__</th>
                            <th scope="col" class="fs-6 py-0 px-0 text-center"><i class="fas fa-divide"></i></th>
                            <th scope="col" class="fs-6 py-0 px-0 text-center">Resistance<br>Price</th>                            
                            <th scope="col" class="fs-6 py-0 px-0 text-center"><i class="fas fa-equals"></i></th>
                            <th scope="col" class="fs-6 py-0 px-0 text-center">__</th>
                            <th scope="col" class="fs-6 py-0 px-0 text-center">X<i class="fw-bolder"></i></th>
                            <th scope="col" class="fs-6 py-0 px-0 text-center">100<i class="fw-bolder"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center fw-bold">
                            <td scope="col" class="fs-6 py-0 px-0 text-center">{{ rpg_resistance }}</td>
                            <td scope="col" class="fs-6 py-0 px-0 text-center"><i class="fas fa-minus"></i></td>
                            <td scope="col" class="fs-6 py-0 px-0 text-center">{{ average_weighted }}</td>
                            <td scope="col" class="fs-6 py-0 px-0 text-center"><i class="fas fa-equals"></i></td>
                            <td scope="col" class="fs-6 py-0 px-0 text-center">{{ rpg_scoreA }}</td>
                            <td scope="col" class="fs-6 py-0 px-0 text-center"><i class="fas fa-divide"></i></td>
                            <td scope="col" class="fs-6 py-0 px-0 text-center">{{ rpg_resistance }}</td>
                            <td scope="col" class="fs-6 py-0 px-0 text-center"><i class="fas fa-equals"></i></td>
                            <td scope="col" class="fs-6 py-0 px-0 text-center">{{ rpg_scoreB }}</td>
                            <td scope="col" class="fs-6 py-0 px-0 text-center">X<i class="fw-bolder"></i></td>
                            <td scope="col" class="fs-6 py-0 px-0 text-center">100<i class="fw-bolder"></i></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="fw-bolder fs-3">
                            <th colspan="3"><i class="fas fa-equals"></i> {{ rpg_scoreC }}<i class="fas fa-plus"></i></th>
                            </tr>
                        </tfoot>
                    </table>
    
                    <table class="table">
                        <thead class="text-secondary table-responsive">
                            <tr>
                            <th scope="col" class="fs-6 py-0 px-0 text-center">Flex Points</th>
                            <th scope="col" class="fs-6 py-0 px-0 text-center"><i class="fas fa-equals"></i></th>
                            <th scope="col" class="fs-6 py-0 px-0 text-center">__</th>
                            <th scope="col" class="fs-6 py-0 px-0 text-center">X<i class="fw-bolder"></i></th>
                            <th scope="col" class="fs-6 py-0 px-0 text-center">Importance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center fw-bold">
                            <td scope="col" class="fs-6 py-0 px-0 text-center">{{ rpgFlexPoints }}</td>
                            <td scope="col" class="fs-6 py-0 px-0 text-center"><i class="fas fa-equals"></i></td>
                            <td scope="col" class="fs-6 py-0 px-0 text-center">{{ rpg_scoreD }}</td>
                            <td scope="col" class="fs-6 py-0 px-0 text-center">X<i class="fw-bolder"></i></td>
                            <td scope="col" class="fs-6 py-0 px-0 text-center">{{ groupImportance }}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="fw-bolder fs-3">
                            <th colspan="3"><i class="fas fa-equals"></i> {{ rpg_scoreE }} X</th>
                            </tr>
                        </tfoot>
                    </table>
    
                    <table class="table">
                        <thead class="text-secondary table-responsive">
                            <tr>
                            <th scope="col" class="fs-6 py-0 px-0 text-center">Inventory Bought</th>
                            <th scope="col" class="fs-6 py-0 px-0 text-center"><i class="fas fa-equals"></i></th>
                            <th scope="col" class="fs-6 py-0 px-0 text-center">Score</th>                            
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center fw-bold fs-3">
                            <td scope="col" class="fs-6 py-0 px-0 text-center">{{ rpg_fraction_close_to_max }}</td>
                            <td scope="col" class="fs-6 py-0 px-0 text-center"><i class="fas fa-equals"></i></td>
                            <td scope="col" class="fs-6 py-0 px-0 text-center">{{ rpg_scoreFinal }}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="fw-bolder fs-1">
                            <th colspan="3">SCORE: {{ rpg_scoreFinal }}</th>
                            </tr>
                        </tfoot>
                    </table>
                </div> <!-- End card body -->
            </div> <!-- End card -->


            <div class="card text-dark bg-light mb-1">
                <h4 class="card-header custom-card-header">Messages Received<sup>a</sup></h4>
                <div class="card-body">
                    <table class="table table-hover table-striped table-responsive">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col" title="From">From<br>Group</th>
                                <th scope="col" title="To">To<br>Group</th>
                                <th scope="col" title="Subject">Subject</th>
                                <th scope="col" title="Message">Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for deal in all_messages %}
                            <tr>
                                <td>{{ deal.groupDigit }}</td>
                                <td>{{ deal.messageReceiver }}</td>
                                <td>{{ deal.messageSubject }}</td>
                                <td>{{ deal.messageContent }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> <!-- End card body-->
                <div class="small text-muted"><sup>a</sup>Note: Only messages for the current RPG round are shown.</div>                    
            </div><!-- End card -->


            <div class="card text-dark bg-light mb-1">
                <h4 class="card-header custom-card-header">Marketplace<sup></sup></h4>
                <div class="card-body">
                    <table class="table table-hover table-striped table-responsive">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col" title="Group">Group</th>
                                <th scope="col" title="Role">RPG Role</th>
                                <th scope="col" title="Score">Current Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for group in all_groups_results %}
                            <tr>
                                <td>{{ group.group_digit }}</td>
                                <td>{{ group.group_role_name }}</td>
                                <td>{{ group.scoreFinal }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> <!-- End card body-->
                <div class="small text-muted"><sup></sup></div>                    
            </div> <!-- End card -->


        </div> <!-- End of row with prefer two columns -->
    </div> <!-- End of container -->
</body>

<script>
$(document).ready(function() {
    // Array to hold the IDs of the divs you are toggling
    const divsToToggle = ['btnOpenDealForm', 'btnOpenCancelForm', 'btnOpenSendFlexForm', 'btnOpenSendMessageForm'];
    var currentOpenDiv = null; // keep track of the currently open div
    var timeStampInMilliseconds = 0 //need wide scope for this as it is used later
    //Send Deal Clicked
    $('#btnSendDeal').click(function() {
        toggleDiv('btnOpenDealForm');
        // Generate UNIX timestamp in milliseconds
        timeStampInMilliseconds = new Date().getTime();
        $('#newDealID').text("New Deal ID: " + timeStampInMilliseconds);
    });
    $('#btnCancelDeal').click(function() {
        toggleDiv('btnOpenCancelForm');
    });
    $('#btnSendFlex').click(function() {
        toggleDiv('btnOpenSendFlexForm');
    });
    $('#btnSendMessage').click(function() {
        toggleDiv('btnOpenSendMessageForm');
    });

    function toggleDiv(divId) {
    // Close all divs first
        for (let id of divsToToggle) {
            if($('#' + id).is(':visible')) {
                // Reset the form inside this div if it has one
                $('#' + id + ' form').each(function(){
                    this.reset();
                });
            }
            $('#' + id).slideUp('slow');
        }

        // If the div being toggled is different from the one already open, open it
        if (currentOpenDiv !== divId) {
            $('#' + divId).slideDown('slow');
            currentOpenDiv = divId; // update the currently open div
        } else {
            currentOpenDiv = null; // reset the currently open div since we're closing it
        }
    }
    
    //fix the Buyer/Seller to text not integer on page when first loading page
    if ({{ groupRole }} == -1){
        $(".txtRole").text("SELLER");
        $("#txtOrderTitle").text("SALE INVOICE");
        $("#txtFlexMsg0").html("<sup>a</sup>Going LOWER gains Flex Points (1 point per 100 units--round up).");
        $("#txtFlexMsg1").html("Going HIGHER spends Flex Points (1 point per 100 units--round up).");
    }else if({{ groupRole }} == 1){
        $(".txtRole").text("BUYER");   
        $("#txtOrderTitle").text("PURCHASE ORDER");
        $("#txtFlexMsg0").html("<sup>a</sup>Going higher gains Flex Points (1 point per 100 units--round up).");
        $("#txtFlexMsg1").html("Going lower spends Flex Points (1 point per 100 units--round up).");
        $("#txtFlexMsg4").hide();
        $("#txtOverProduction").hide();
    }else{
        $(".txtRole").text("NONE");
    }//end elseIf
    
    // Declare variables that need wide scope here
    var groupRole = {{ groupRole }}; //use this variable across functions; Load on page load but remember to change as needed
    var groupDiceLastRoll = {{ groupDiceLastRoll }}; //use this variable across functions;

    //Set the descriptions for Quick View for BUYER case
    var meaning = 0; //holder for description of position post live calculation

    //Delivery
    var attributeValue = {{ groupDelivery }};
    var attributeValueText = "";
        switch (attributeValue) {
            case 0:
            case 1:
                attributeValueText = "Slow";
                break;
            case 2:
                attributeValueText = "Average";
                break;
            case 3:
                attributeValueText = "Fast";
                break;
        } //end switch selectedValue
    //add text to attribute
    $("#txtPositionDelivery").text("[{{ groupDelivery }}] " + attributeValueText);
    // Different text for buyer/seller
    if ({{ groupRole }} == -1){
        $("#txtPositionDeliveryHelp").text(" Try to make a deal for slower.");
        //Resistance
        $("#txtPositionResistanceHelp").text(" Do not sell for less than this.");
        //Mod Units
        $("#txtPositionUnitsHelp").text(" Target selling at least this many.");
        //MAX Purchase
        $("#txtPositionMaxPurchaseHelp").text(" Selling over this will cost Flex Points.");
        $("#txtMaxPurchase").text("MAX Sales:")
    }else{
        $("#txtPositionDeliveryHelp").text(" Try to make a deal for faster.");
        //Resistance
        $("#txtPositionResistanceHelp").text(" Do not pay more than this.");
        //Mod Units
        $("#txtPositionUnitsHelp").text(" Target buying at least this many.");
        //MAX Purchase
        $("#txtPositionMaxPurchaseHelp").text(" Do not buy more than this.");
    }//end elseIf

    //Flex
    $("#txtPositionFlexHelp").text(" Spend, collect, or gift these.");

    //Importance
    var attributeValueText = "";
    var attributeValue = {{ groupImportance }};
        switch (attributeValue) {
            case 0:
                attributeValueText = " Distribute Points Here";
                break;
            case 1:
                attributeValueText = " Small Patatoes";
                break;
            case 2:
                attributeValueText = " Kind Of Important";
                break;
            case 3:
                attributeValueText = " Somewhat Important";
                break;
            case 4:
                attributeValueText = " Important";
                break;
            case 5:
                attributeValueText = " Very Important";
                break;
            case 6:
                attributeValueText = " Vital Importance";
                break;
        } //end switch selectedValue
    //add text to attribute
    $("#txtPositionImportance").text("[{{ groupImportance }}] " + attributeValueText);
    $("#txtPositionImportanceHelp").text(" How important is this deal.");

    //Quality
    var attributeValue = {{ groupQuality }};
        switch (attributeValue) {
            case 0:
            case 1:
                attributeValueText = "[1] Low";
                break;
            case 2:
                attributeValueText = "[2] Average";
                break;
            case 3:
                attributeValueText = "[3] High";
                break;
        } //end switch selectedValue
    //add text to attribute
    $("#txtPositionQuality").text(attributeValueText);

    // Different text for buyer/seller
    if ({{ groupRole }} == -1){ //seller case
        $("#txtPositionQualityHelp").text(" Try to make a deal for lower.");
    }else{ //buyer case
        $("#txtPositionQualityHelp").text(" Try to make a deal for higher.");
    }//end elseIf

    // When btnSubmitDeal is clicked, the form inputs are checked
    $("#btnSubmitDeal").click(function(event){
        var isValid = true; // Initialize flag
        var errorMessage = ''; // Initialize error message
        // Validate counter_part_group_number
        var counterPart = $("input[name='counterparty']").val();
        if(counterPart === "" || counterPart <= 0) {
            isValid = false;
            errorMessage += "Counterpart must be a positive number.\n";
        }
        // Validate number_of_units
        var units = $("input[name='units']").val();
        if(units === "" || units <= 0) {
            isValid = false;
            errorMessage += "Units must be a positive number.\n";
        }
        // Validate price
        var price = $("input[name='price']").val();
        if(price === "" || price <= 0) {
            isValid = false;
            errorMessage += "Price must be a positive number.\n";
        }
        if ({{ groupRole }} == -1){ // Seller case
            if(price < {{ rpg_resistance }}) {
                isValid = false;
                errorMessage += "You cannot sell below your resistance price.\n";
            }
        }else{
            if(price > {{ rpg_resistance }}) {
                isValid = false;
                errorMessage += "You cannot buy over your resistance price.\n";
            }
        }
        // Validate quality
        var quality = $("select[name='quality']").val();
        if(quality < 1 || quality > 3) {
            isValid = false;
            errorMessage += 'Quality must be between Low and High.\n';
        }
        // Validate delivery
        var delivery = $("select[name='delivery']").val();
        if(delivery < 1 || delivery > 3) {
            isValid = false;
            errorMessage += 'Delivery must be between Slow and Fast.\n';
        }
        // Validate Deal ID
        var dealID = $("input[name='dealID']").val();
        if(dealID.length < 13) {
            isValid = false;
            errorMessage += 'Deal ID must be at least 13 digits long.\n';
        }        
        if(!isValid) {
            event.preventDefault(); // Prevent form submission
            alert("Form validation failed:\n" + errorMessage);
        }
    }); // End click button function

    // When btnCancelDeal is clicked, the form inputs are checked
    $("#btnSubmitCancel").click(function(event){
        var isValid = true; // Initialize flag
        var errorMessage = ''; // Initialize error message
        // Validate counter_part_group_number
        var counterPart = $("input[name='counterpartyCancel']").val();
        if(counterPart === "" || counterPart <= 0) {
            isValid = false;
            errorMessage += "Counterpart must be a positive number.\n";
        }
        // Validate Deal ID
        var dealID = $("input[name='dealIDCancel']").val();
        if(dealID.length < 13) {
            isValid = false;
            errorMessage += 'Deal ID must be at least 13 digits long.\n';
        }        
        if(!isValid) {
            event.preventDefault(); // Prevent form submission
            alert("Form validation failed:\n" + errorMessage);
        }
    }); // End click button function
    


    // User chooses to input the NEW Deal ID with a single click
    $("#txtUseThisID").click(function(e) {
        e.preventDefault();  // Prevent the default link behavior
        var dealID = $("#newDealID").text();  // Get the Deal ID
        $("#inputDealID").val(timeStampInMilliseconds);
    });



    $('.deal-link').on('click', function(e) {
    e.preventDefault();  // To prevent the default behavior of the hyperlink

    let dealID = $(this).data('dealid');
    let counterparty = $(this).data('counterparty');
    let units = $(this).data('units');
    let price = $(this).data('price');
    let quality = $(this).data('quality');
    let delivery = $(this).data('delivery');

    // Populate the form fields
    $('input[name="dealID"]').val(dealID);
    $('input[name="counterparty"]').val(counterparty);
    $('input[name="units"]').val(units);
    $('input[name="price"]').val(price);
    $('select[name="quality"]').val(quality);
    $('select[name="delivery"]').val(delivery);

    // Show the form if it's hidden
    $('#btnOpenDealForm').show();
});


    // User clicks on Deals Waiting For You to prepopulate the Send A Deal form (saves copying and making errors)
    $('.deal-link').on('click', function(e) {
    e.preventDefault();  // To prevent the default behavior of the hyperlink
        // Fetch data attributes from the clicked row
        let dealID = $(this).data('dealid');
        let counterparty = $(this).data('counterparty');
        let units = $(this).data('units');
        let price = $(this).data('price');
        let quality = $(this).data('quality');
        let delivery = $(this).data('delivery');

        // Populate form fields with these values
        $("#inputCounterparty").val(counterparty);
        $("#inputUnits").val(units);
        $("#inputPrice").val(price);
        $("select[name='quality']").val(quality);
        $("select[name='delivery']").val(delivery);
        $("#inputDealID").val(dealID);
        
        // Optionally, show the form if it's hidden
        $('#btnOpenDealForm').show();
        // Smoothly scroll to the top
        $('html, body').animate({ scrollTop: 0 }, 'slow');
    });

    //Rotate anime graphics once on page load
    let randomIndex = Math.floor(Math.random() * 11); // Random number between 0 and 19
    let filename = "deals_animeStyle_" + String(randomIndex).padStart(2, '0') + ".jpg";
    document.getElementById("imgRandomImage").src = "{% static 'images/' %}" + filename;


});//document ready

</script>

</html>
