{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% include "_header_00.html" %}
    <title>RPG Marketplace</title>
</head>

<body>
    {% include "_menu_admin.html" %}

    {% if messages %}
        {% for message in messages %}
        <div id="messageAlert" class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}

    <div class="container">
        <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2 g-3">
            <div class="card text-dark bg-light mb-3 shadow custom-card">
                <div class="mb-3">
                    <h2><i>RPG MARKETPLACE ADMIN</i><br>RPG Round: {{ rpg_closest_round }}</h2>
                    <h4>Class: {{ currentClassName }}<br>Teacher: {{ currentTeacher }}</h4>
                    <p>Dice Roll Starts: {{ rpg_closest_start_date }}
                        <br>Dice Roll Ends: {{ rpg_closest_end_date }}
                        <br>Deals End: {{ rpg_play_days_left }}
                        <br>Product: {{ rpg_current_product_name|safe }}                        
                    </p>
                </div>
            </div> <!-- End Card -->
            <a href="{% url 'home' %}"><div class="card text-dark bg-light mb-3 shadow text-center"  
                style="background-image: url({% static 'images/logoClass01_blur.png' %}); 
                    background-size: cover; 
                    background-position: center; 
                    backdrop-filter: blur(100px);">
                <div class="mb-3">
                    <img id="imgRandomImage" alt="A random anime image" style="width: 200px; height: 200px; object-fit: cover;">
                </div>
            </div></a> <!-- End Card -->
        </div> <!-- End of row with prefer two columns -->
<br>
        <div class="row row-cols-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-2 g-3"></div>
            <div class="card text-dark bg-light mb-3 shadow">
                <form id="selectRPGForm" method="get" action="{% url 'position_marketplace_manual' %}">
                    <select name="rpg_choice" id="rpg_choice">
                        <option value="-1" selected>Change Round</option>
                        {% for rpg in "0123456789"|make_list %}
                            <option value="{{ rpg }}" {% if rpg == request.GET.rpg_choice %}selected{% endif %}>RPG {{ rpg }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Go</button>
                    BUYERS: {{ buyers_count }} SELLERS: {{ sellers_count }}
                </form>
                <h4 class="card-header custom-card-header">Progress Dashboard<sup>a</sup></h4>
                <div class="card-body">
                    <div class="container">
                        <table class="table table-hover table-striped table-responsive">
                            <thead class="custom-thead">

                                <!-- Upper-level headers -->
                                <tr>
                                    <th scope="col" colspan="6" class="upper-level-header">Status</th>
                                    <th scope="col" colspan="2" class="upper-level-header">Deals</th>
                                    <th scope="col" colspan="3" class="upper-level-header">Errors</th>
                                    <th scope="col" colspan="3" class="upper-level-header">Actions</th>
                                    <th scope="col" colspan="3" class="upper-level-header">Research</th>
                                </tr>

                                <tr>
                                    <th scope="col">Group<br></th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Score</th>
                                    <th scope="col">Dice<br>Left</th>
                                    <th scope="col">Last<br>Roll</th>
                                    <th scope="col">Roll<br>State</th>
                                    <th scope="col">Deals<br></th>
                                    <th scope="col">CX<br></th>
                                    <th scope="col">Err<br>Deals</th>
                                    <th scope="col">ID<br>Rpts</th>
                                    <th scope="col">CX<br>Rpts</th>
                                    <th scope="col">Messg<br>#</th>
                                    <th scope="col">Gift<br>#</th>
                                    <th scope="col">Gifted<br>Sum</th>                                    
                                    <th scope="col">1st<br>Roll</th>
                                    <th scope="col">Play<br>Now</th>                                    
                                    <th scope="col">Page<br>Rfrsh</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for group in all_groups_results %}
                                <tr>
                                    <td>
                                        <a href="{% url 'position_buyer_seller' %}?group={{ group.group_digit }}&RPG={{ rpg_closest_round }}" target="_blank">{{ group.group_digit }}<span class="small text-muted"> open</span></a>
                                    </td>
                                    <td>{{ group.group_role_name }}</td>
                                    <td>{{ group.scoreFinal }}</td>
                                    <td>{{ group.dice_left }}</td>
                                    <td>{{ group.last_roll }}</td> 
                                    <td>
                                        {% if group.dice_spent_locked == 'Running' %}
                                            <span class="highlight-negative">
                                                {{ group.dice_spent_locked }}
                                            </span>
                                        {% else %}
                                                {{ group.dice_spent_locked }}
                                        {% endif %}
                                    </td>
                                    <td>{{ group.group_deals }}</td>
                                    <td>{{ group.group_cancels }}</td>
                                    <td>{{ group.error_deals }}</td>
                                    <td>{{ group.repeated_deals }}</td>
                                    <td>{{ group.repeated_cancels }}</td>
                                    <td>{{ group.message_count }}</td>
                                    <td>{{ group.gift_count }}</td>
                                    <td>{{ group.gift_sent_total }}</td>                                    
                                    <td>{{ group.first_roll }}</td>
                                    <td>{{ group.play_now }}</td>
                                    <td>{{ group.page_refresh }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="small text-muted"><sup>a</sup>Deals waiting for counterparties are not shown here.</div>
            </div> <!-- End card -->
        </div> <!-- End of row with prefer ONE columns -->

            <div class="container">
                <div class="card text-dark bg-light mb-3 shadow custom-card">
                    <h4 class="card-header custom-card-header">Deals Completed</h4>
                    <div class="card-body">
                        <div class="container">
                            <!-- Loop through each group and its deals -->
                            {% for group, deals in all_group_deals_library.items %}
                                <h5 class="mt-4">Group: {{ group.groupDigit }}
                            
                                {% for result in all_groups_results %}
                                    {% if result.group_digit == group.groupDigit %}
                                        {% if result.scoreFinal < 1 %}
                                            <span class="right-align highlight-negative">
                                                Current Score: {{ result.scoreFinal }}
                                            </span>
                                        {% else %}
                                            <span class="right-align">
                                                Current Score: {{ result.scoreFinal }}
                                            </span>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                </h5>

                                <table class="table table-hover table-striped table-responsive">
                                    <thead class="custom-thead">
                                        <tr>
                                            <th scope="col">Deal ID</th>
                                            <th scope="col">Counterpart</th>
                                            <th scope="col">Time</th>
                                            <th scope="col">Units</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Quality</th>
                                            <th scope="col">Delivery</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Loop through each deal within a group -->
                                        {% for deal in deals %}
                                            <tr>
                                                <td>{{ deal.dealDealID }}                                                
                                                <a href="{% url 'remove_deal' deal_id=deal.dealDealID %}?rpg_choice={{ request.GET.rpg_choice }}" onclick="return confirm('Are you sure you want to remove this deal?');">Remove Deal</a></td>
                                                <td>{{ deal.dealCounterpart }}</td>
                                                <td>{{ deal.dealDateStamp }}</td>
                                                <td>{{ deal.dealUnits }}</td>
                                                <td>{{ deal.dealPrice }}</td>
                                                <td>{{ deal.dealQuality }}</td>
                                                <td>{{ deal.dealDelivery }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            
<!--
CLYDE TESTING01 <br>
<br>allGroupCharacterSheet: {{ allGroupCharacterSheet }}
<br>canceled_deals_count: {{ canceled_deals_count }}
<br>fitered_deals: {{ filtered_deals }}
<br>rpg_closest_round: {{ rpg_closest_round }}
<br>all_groups_results: {{ all_groups_results }}
<br>
<br>
<br>
-->

            <div class="container">
                <div class="card text-dark bg-light mb-3 shadow custom-card">
                <h4 class="card-header custom-card-header">RPG Score Calculation Reminder</h4>
                <div class="card-body">
                    <table class="table">
                        <thead class="text-secondary">
                            <tr>
                            <th scope="col" class="fs-6 py-0 px-0 text-center">Resistance<br>Price</th>
                            <th scope="col" class="fs-6 py-0 px-0 text-center"><i class="fas fa-minus"></i></th>
                            <th scope="col" class="fs-6 py-0 px-0 text-center">Weighted<br>Avg. Price</th>
                            <th scope="col" class="fs-6 py-0 px-0 text-center"><i class="fas fa-equals"></i></th>
                            <th scope="col" class="fs-6 py-0 px-0 text-center">__</th>
                            <th scope="col" class="fs-6 py-0 px-0 text-center"><i class="fas fa-divide"></i></th>
                            <th scope="col" class="fs-6 py-0 px-0 text-center">Resistance<br>Price</th>                            
                            <th scope="col" class="fs-6 py-0 px-0 text-center"><i class="fas fa-equals"></i></th>
                            <th scope="col" class="fs-6 py-0 px-0 text-center">__</th>
                            <th scope="col" class="fs-6 py-0 px-0 text-center">X<i class="fw-bolder"></i></th>
                            <th scope="col" class="fs-6 py-0 px-0 text-center">100<i class="fw-bolder"></i></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr class="fw-bolder fs-3">
                            <th colspan="3"><i class="fas fa-equals"></i> {{ rpg_scoreC }}<i class="fas fa-plus"></i></th>
                            </tr>
                        </tfoot>
                    </table>
    
                    <table class="table">
                        <thead class="text-secondary table-responsive">
                            <tr>
                            <th scope="col" class="fs-6 py-0 px-0 text-center">Flex Points</th>
                            <th scope="col" class="fs-6 py-0 px-0 text-center"><i class="fas fa-equals"></i></th>
                            <th scope="col" class="fs-6 py-0 px-0 text-center">__</th>
                            <th scope="col" class="fs-6 py-0 px-0 text-center">X<i class="fw-bolder"></i></th>
                            <th scope="col" class="fs-6 py-0 px-0 text-center">Importance</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr class="fw-bolder fs-3">
                            <th colspan="3"><i class="fas fa-equals"></i> {{ rpg_scoreE }} X</th>
                            </tr>
                        </tfoot>
                    </table>
    
                    <table class="table">
                        <thead class="text-secondary table-responsive">
                            <tr>
                            <th scope="col" class="fs-6 py-0 px-0 text-center">Inventory Bought</th>
                            <th scope="col" class="fs-6 py-0 px-0 text-center"><i class="fas fa-equals"></i></th>
                            <th scope="col" class="fs-6 py-0 px-0 text-center">Score</th>                            
                            </tr>
                        </thead>
                        <tfoot>
                            <tr class="fw-bolder fs-1">
                            <th colspan="3">SCORE: {{ rpg_scoreFinal }}</th>
                            </tr>
                        </tfoot>
                    </table>
                </div> <!-- End card body -->
            </div> <!-- End card -->


        </div> <!-- End of row with prefer two columns -->
    </div> <!-- End of container -->

</body>

<script>
$(document).ready(function() {

/*    //fix the Buyer/Seller to text not integer on page when first loading page
    if ({{ groupRole }} == -1){
        $(".txtRole").text("SELLER");
        $("#txtOrderTitle").text("SALE INVOICE");
    }else if({{ groupRole }} == 1){
        $(".txtRole").text("BUYER");   
        $("#txtOrderTitle").text("PURCHASE ORDER");
    }else{
        $(".txtRole").text("NONE");
    }//end elseIf
    
    // Declare variables that need wide scope here
    var groupRole = {{ groupRole }}; //use this variable across functions; Load on page load but remember to change as needed
*/


    //Rotate anime graphics once on page load
    let randomIndex = Math.floor(Math.random() * 11); // Random number between 0 and 19
    let filename = "deals_animeStyle_" + String(randomIndex).padStart(2, '0') + ".jpg";
    document.getElementById("imgRandomImage").src = "{% static 'images/' %}" + filename;


});//document ready

</script>

</html>
