{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
<head>
{% include "_header_00.html" %}
<title>RPG Settings</title>
</head>
<body>
{% include "_menu_admin.html" %}
    {% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card text-dark bg-light mb-3 shadow">
                    <div class="align-self-center">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'images/logoClass01_blur.png' %}" alt="Logo" class="img-fluid" style="width: 50%; height: auto;"></a>
                            <br>Class: {{ class_name }}<br>Teacher: {{ currentTeacher }}
                    </div>
                    <div class="card-header">
                        Edit Game Settings for {{ form.instance.className }}
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
    
                            {% for field in form %}
                                <div class="form-group">

                                    <label for="{{ field.id_for_label }}" class="bg-light text-dark font-weight-bold p-2 w-100 d-block">{{ field.label }}</label>

                                    {% render_field field class="form-control" %}
                                    {% if field.help_text %}
                                        <small class="form-text text-muted">{{ field.help_text }}</small>
                                    {% endif %}
                                </div>
                            {% endfor %}
    
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

</body>

<script>

// Make sure the page is fully loaded before we attach our event handlers
$(document).ready(function(){
    // This code will be executed after the entire page has loaded
    //$("#btn").click(function(){
    //    $("#demo").hide();
    //});

}); //end ready
</script>

</html>
