{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% include "_header_00.html" %}
    <title>RPG Account</title>
</head>

<body>
    {% if current_group == 1000 %}
        {% include "_menu_admin.html" %}
    {% else %}
        {% include "_menu_group.html" %}
    {% endif %}
    <div class="container">
        <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2 g-3">
            <div class="card text-dark bg-light mb-1">
                <div class="mb-3">
                    <h2><i>ACCOUNT SETTINGS</i></h2>
                    <h4>Class: {{ class_name }}<br>Group: {{ current_group }}</h4>
                </div>
            </div> <!-- End Card -->

            <a href="{% url 'home' %}">
                <div class="card text-light mb-3 shadow text-center position-relative"
                    style="background-image: url({% static 'images/logoClass01_blur.png' %}); 
                           background-size: cover; 
                           background-position: center; 
                           backdrop-filter: blur(100px);">
            
                    <div class="mb-3">
                        <img id="imgRandomImage" alt="A random anime image" style="width: 200px; height: 200px; object-fit: cover;">
                    </div>
            
                    <!-- Overlay text -->
                    <div class="position-absolute bottom-0 start-0 mb-2 ms-2">
                        <span class="bg-dark text-light py-1 px-3" style="border-radius: 5px;">GO TO LOGIN PAGE</span>
                    </div>
                </div>
            </a>

            <div class="card custom-card mb-1">

                <h4 class="card-header custom-card-header">Password</h4>
                <div class="card-body">
                    <div class="container">

                        <h2>Update Password</h2>
            
                            {% if message %}
                            <div class="container mt-2">
                                    <div class="alert alert-danger" role="alert">
                                        {{ message }}
                                    </div>
                            </div>
                            {% endif %}
                            
                            <div class="container mt-2">
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button type="submit" class="btn btn-primary">Update Password</button>
                                </form>
                            </div>
                        </form>
                    </div>
                </div>
            </div> <!-- End card -->
    </div> <!-- End of container -->
</body>

<script>
$(document).ready(function() {

/*    //fix the Buyer/Seller to text not integer on page when first loading page
    if ({{ groupRole }} == -1){
        $(".txtRole").text("SELLER");
        $("#txtOrderTitle").text("SALE INVOICE");
    }else if({{ groupRole }} == 1){
        $(".txtRole").text("BUYER");   
        $("#txtOrderTitle").text("PURCHASE ORDER");
    }else{
        $(".txtRole").text("NONE");
    }//end elseIf
    
    // Declare variables that need wide scope here
    var groupRole = {{ groupRole }}; //use this variable across functions; Load on page load but remember to change as needed
*/


    //Rotate anime graphics once on page load
    let randomIndex = Math.floor(Math.random() * 11); // Random number between 0 and 19
    let filename = "deals_animeStyle_" + String(randomIndex).padStart(2, '0') + ".jpg";
    document.getElementById("imgRandomImage").src = "{% static 'images/' %}" + filename;


});//document ready

</script>

</html>
