{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% include "_header_00.html" %}
    <title>Negotiation RPG Choose Class</title>
</head>
<body>
    <div class="text-center">
        <img src="{% static 'images/' %}logoClass01_blur.png" class="img-fluid w-50" alt="Responsive logo">
    </div>

    <div class="container">
        <div class="row col-md-6 mx-auto">
            <h2>Choose your class:</h2>
        </div>
    </div>
    <div class="row col-md-6 mx-auto">
        {% for teachers in teachers %}
        <div v-for="teachers in teachers" class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title fw-bold">{{ teachers.teacher }}</h4>
                    <p5 class="card-text">{{ teachers.className }}</h5><br>
                    <a class="btn btn-primary" href="{% url 'choose_group' %}?teacher={{ teachers.teacher }}&className={{ teachers.className }}">My Class</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</body>

<script>
    // Make sure the page is fully loaded before we attach our event handlers
    $(document).ready(function(){
        // This code will be executed after the entire page has loaded

    });
</script>

</html>
